<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      @layer base {
        @import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
        html {
          font-family: "Merriweather", serif;
        }
        @layer utilities {
          .font-merriweather {
            font-family: "Merriweather", serif;
          }
          .font-kantumruy {
            font-family: "Kantumruy Pro", sans-serif;
          }
        }
      }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex flex-col">
      <%- include('layout/header') %>
      <div class="mx-[150px] min-h-[80vh] rounded-md p-4 my-8 bg-white flex flex-col border shadow-md justify-left">
        <h1 class="text-4xl pb-2 font-merriweather font-bold">
          <%= post.title %>
        </h1>
        <p class="text-sm font-kantumruy text-gray-500">
          By <%= post.author.name %> | <%= new Intl.DateTimeFormat('en-US', {
          weekday: 'long', day: '2-digit', month: 'long', year: 'numeric', hour:
          '2-digit', minute: '2-digit',}).format(new Date(post.date)) %>
        </p>
        <hr class="my-3" />
        <p class="font-kantumruy"><%= post.content %></p>
      </div>
    </div>
  </body>
</html>
